*.a
*.o
depcomp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config-h.in
config.guess
config.h
config.log
config.status
config.sub
configure
gtags.conf
install-sh
ltmain.sh
missing
stamp-h1
global-*.tar.gz
elc-stamp
libtool
libltdl
BUILD_TOOLS
